body {
    background-color: #ffffff;
    margin: 0;
}

/* header style */
header {
    background-color: #ffffff;
    box-sizing: border-box;
    -webkit-box-shadow: 0px 7px 7px -6px #959393;
	-moz-box-shadow: 0px 7px 7px -6px #959393;
    box-shadow: 0px 7px 7px -6px #959393;
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 0;
}

header #logo {
    height: 70px;
    margin-left: 10px;
}

header #search {
    float: left;
    padding: 10px;
    margin: 10px auto;
}

nav {
    margin: 5px 30px;
    float: right;
    display: inline-flex;
}

nav a {
    text-decoration: none;
    color: #868686;
    font-family: sans-serif;
    font-size: 20px;
    border-left: 1px solid #000;
    margin-left: 30px;
    text-align: center;
}

nav a:hover{
    color: #e44444;
}

#first {
    border-left: none !important;
}

nav ul li {
    display: inline-block;
    width: 115px;
    padding: 5px;
}

@media only screen and (max-width: 900px) {
    header .logo img {
        width: 170px;
        height: auto;
    }

    nav {
        margin: 5px 0px !important;
    }

    header #search {
        width: 130px;
    }

    nav a {
        font-size: 15px;
        margin-left: 0px;
        text-align: center;
    }

    nav ul li {
        width: 65px;
    }

    nav ul {
        padding: 0px;
    }
}

/* content style */
section {
    width: 100%;
    position: relative;
    top: 70px;
}

section .banner img {
    width: 100%;
}

section .box {
    padding: 50px 100px;
    display: inline-flex;
    width: calc(100% - 200px);
}

section .category {
    border-radius: 10px;
    border: 1px solid #ffffff;
    width: 20%;
    background-color: #d7d5d5;
}

section .category h3 {
    font-family: sans-serif;
    text-align: center;
    color: #262626;
    border-bottom: solid #ffffff 1px;
    padding-bottom: 10px;
    margin-bottom: 0px;
}

section .category a {
    text-decoration: none;
    font-family: sans-serif;
    color: #020101;
}

section .category a:hover {
    color: #e44444;
}

section .category ul {
    padding: 0px;
    margin: 0px;
}

section .category li {
    list-style: none;
    padding: 20px 0 20px 30px;
    border-bottom: solid #ffffff 1px;
}

section .items {
    border-radius: 10px;
    border: 1px solid #ffffff;
    width: 80%;
    margin-left: 50px;
    background-color: #d7d5d5;
}

section .items h2 {
    font-family: sans-serif;
    padding: 20px;
    border-bottom: 3px solid #ffffff;
}

section .items .item-body {
    display: inline-flex;
    padding: 0.5% 0.1% 0.5% 0.3%;
    width: calc(100% - 1%);
    text-align: center;
}

section .items .item-body a {
    text-decoration: none;
    background-color: #ffffff;
    width: 24.5%;
    margin-left: 0.45%;
    padding: 15px 10px;
}

section .item {
    color: #000000;
}

section .item img {
    height: 250px;
}

section .item .to-cart {
    background-color: #f7b5b5;
    color: #ffffff;
    padding: 5px 20px;
}

section .item .to.cart:hover {
    color: #000000;}

    /* Shopping Cart Style */
section .cart {
    width: 100%;
    border: 1px solid #ffffff;
    background-color: #d7d5d5;
    border-radius: 10px;
}

.cart h2 {
    padding: 20px;
    font-family: sans-serif;
    border-bottom: 3px solid #fff;
}

.cart .cart-body {
    margin: 0.5%;
}

.cart table {
    width: 100%;
    margin: 25px 0px;
    border-collapse: collapse;
    text-align: center;
    background: #fff;
}

.cart table th, .cart table td{
    border-bottom: 1px solid #cccccc;
    padding: 10px;
}

.cart table td {
    vertical-align: baseline;
}

.cart table tr:hover {
    background-color: #eee;
}

.cart table td img {
    vertical-align: middle;
}

.cart table td img.product-img {
    width: 100px;
}

.action .action-left,
.action .action-right  {
    margin: 10px 0;
}

.action .action-left {
    float: left;
}

.action .action-right {
    float: right;
}

.img-delete {
    width: 24px;
}

.btn {
    display: inline-block;
    padding: 15px;
    background-color: #4f4f4f;
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
}

/* Checkout Style */
#checkoutPage .grid-container {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    width: 100%;
    flex: 1;
}

#checkoutPage {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#checkoutPage .info {
    background: white;
    text-align: center;
}

#checkoutPage .items {
    background: gainsboro;
    text-align: center;
}

#checkoutPage .inputBox {
    width: 400px;
    margin: 5px 5px;
}

#checkoutPage .inputArea {
    width: 397px;
    margin: 5px 5px;
}

#checkoutPage .inputHalf {
    width: 195px;
    margin: 5px 1px;
}

#checkoutPage .checkoutTitle {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2em;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    padding-top: 114px;
}

#checkoutPage .ringkasanTitle {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2em;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 114px;
}

#checkoutPage #payButton {
    width: 404px;
    height: 50px;
    display: inline-block;
    padding: 15px;
    background-color: #4f4f4f;
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
}

#checkoutPage .additional {
    width: 404px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 2.3fr;
}

#checkoutPage .priceGrid {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1.1fr 1fr;
}

#checkoutPage .itemGrid {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: grid;
    grid-template-columns: 0.3fr 0.8fr 0.6fr;
}

#checkoutPage .itemPhoto {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

#checkoutPage .itemAmount {
    margin-top: auto;
    margin-bottom: auto;
    text-align: right;
    margin-right: 10px;
}

#checkoutPage .itemPrice {
    margin-top: auto;
    margin-bottom: auto;
    text-align: left;
    margin-left: 10px;
}

#checkoutPage .totalPrice {
    font-weight: bold;
    font-size: 1.5em;
}

#checkoutPage #additionalText {
    text-align: right;
    padding-right: 10px;
}

#checkoutPage #priceLabels {
    text-align: right;
    margin-right: 20px;
}

#checkoutPage #price {
    text-align: left;
}

#checkoutPage .additionalSelectors {
    width: 100%;
}

/* description style */
#descriptionpage .box {
    margin: 0 auto;
}

#descriptionpage .penjelasan1 h3 {
    
}

#descriptionimage .penjelasan1 p {
    
}

#descriptionimage .penjelasan2 p {
    
}

#descriptionimage .penjelasan2 ul {
    
}

#descriptionimage .penjelasan2 li {
    
}

#descriptionimage .checkout {
    
}
/* Login style */
.login {
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto 0 auto;  
    width: 100%; 
    text-align: center;
    background-image: url("wallpaperLogin.jpg");
}

.username {
    padding-top: 5px;
    padding-bottom: 2px;
    margin-top: 20px;
    margin-bottom: 10px;
}



.signIn {
    background:lime;
    width: 350px;
    color:white;
    border-radius: 4px;
    border: 1px solid;
    font-weight: 800;
    font-size :0.8em;
    position: relative;
    
}

/* .signUp {
    background: red;
    width: 125px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    border-radius: 4px;
    border: 1px solid;
    margin-top: 20px;
    margin-bottom: 20px;
    float: right;
    margin-right: 16px;
    font-weight: 800;
    font-size: 0.8em;
}
 */




/* footer style */
footer {
    background-color:#4f4f4f;
    color:    #fff;
    font-family: sans;
    text-align: center;
    padding: 10px;
    position: relative;
    margin-top: 80px;
}


#foot {
    background-color:#4f4f4f;
    color:    #fff;
    font-family: sans;
    text-align: center;
    padding: 10px;
    position: relative;
    margin-top: 0 !important;
}

