body {
    background-color: #ffffff;
    margin: 0;
}

/* header style */
header {
    background-color: #ffffff;
    box-sizing: border-box;
    -webkit-box-shadow: 0px 7px 7px -6px #959393;
	-moz-box-shadow: 0px 7px 7px -6px #959393;
    box-shadow: 0px 7px 7px -6px #959393;
    position: fixed;
    width: 100%;
    z-index: 10;
}

header #logo {
    height: 70px;
    margin-left: 10px;
}

header #search {
    float: left;
    padding: 10px;
    margin: 10px auto;
}

nav {
    margin: 5px 30px;
    float: right;
    display: inline-flex;
}

nav a {
    text-decoration: none;
    color: #868686;
    font-family: sans-serif;
    font-size: 20px;
    border-left: 1px solid #000;
    margin-left: 30px;
    text-align: center;
}

nav a:hover{
    color: #e44444;
}

#first {
    border-left: none !important;
}

nav ul li {
    display: inline-block;
    width: 115px;
    padding: 5px;
}

@media only screen and (max-width: 900px) {
    header .logo img {
        width: 170px;
        height: auto;
    }

    nav {
        margin: 5px 0px !important;
    }

    header #search {
        width: 130px;
    }

    nav a {
        font-size: 15px;
        margin-left: 0px;
        text-align: center;
    }

    nav ul li {
        width: 65px;
    }

    nav ul {
        padding: 0px;
    }
}

/* content style */
section {
    width: 100%;
    position: relative;
    top: 70px;
}

section .banner img {
    width: 100%;
}

section .box {
    padding: 50px 100px;
    display: inline-flex;
    width: calc(100% - 200px);
}

section .category {
    border-radius: 10px;
    border: 1px solid #ffffff;
    width: 20%;
    background-color: #d7d5d5;
}

section .category h3 {
    font-family: sans-serif;
    text-align: center;
    color: #262626;
    border-bottom: solid #ffffff 1px;
    padding-bottom: 10px;
    margin-bottom: 0px;
}

section .category a {
    text-decoration: none;
    font-family: sans-serif;
    color: #020101;
}

section .category a:hover {
    color: #e44444;
}

section .category ul {
    padding: 0px;
    margin: 0px;
}

section .category li {
    list-style: none;
    padding: 20px 0 20px 30px;
    border-bottom: solid #ffffff 1px;
}

section .items {
    border-radius: 10px;
    border: 1px solid #ffffff;
    width: 80%;
    margin-left: 50px;
    background-color: #d7d5d5;
}

section .items h2 {
    font-family: sans-serif;
    padding: 20px;
    border-bottom: 3px solid #ffffff;
}

section .items .item-body {
    display: inline-flex;
    padding: 0.5% 0.1% 0.5% 0.3%;
    width: calc(100% - 1%);
    text-align: center;
}

section .items .item-body a {
    text-decoration: none;
    background-color: #ffffff;
    width: 24.5%;
    margin-left: 0.45%;
    padding: 5px;
}

section .item {
    color: #000000;
}

/* footer style */
footer {
    background-color:#4f4f4f;
    color:    #fff;
    font-family: sans;
    text-align: center;
    padding: 10px;
    position: relative;
    top: 80px;
}